body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;

    display: flex;
    box-sizing: border-box;
    justify-content: space-around;

}

.card {
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid #899191;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;


}

.icon {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;


}

.round {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    border: 1px solid #899191;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55px;
}

.fa-desktop, .fa-futbol, .fa-martini-glass {
    font-size: 25px;
    color: #ff9229;

    display: block;
    position: relative;
}

.title {
    height: 75px;
    font-size: 24px;
    font-family: "Calibri", serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    height: 100px;
    font-size: 22px ;
    font-family: "Calibri", serif;
    color: #aaa4a4;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 35px;
}
.link{
    height: 50px;
    width: 200px;
    border: 1px solid black;
    font-family: "Calibri", serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

   margin: 30px 0;
}