body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 600px;
    height: 500px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;



    background: #bccece;
}

.first {
    height: 75px;
    width: 100%;

    display: flex;
    align-items: center;
}

.qwe {
    background: #1f284b;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    margin-left: 50px;
}
.second{
    background: #1f284b;
    height: 300px;
    width: 100%;


}
.third{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    position: relative;

}

.little_container{
    display: flex;
    column-gap: 10px;

    position: absolute;


}
.children{
    height: 125px;
    width: 125px;
    background: #a15eea;
    border-radius: 8px;
}
