body {
    margin: 0
}

h1 {
    text-align: center;
    font-family: "Calibri Light", serif;
}

.box {
    width: 1150px;

    display: flex;
    flex-direction: column;
}

.container {
    height: 300px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card {
    width: 250px;
    box-shadow: 2px 2px 3px grey;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fa-star, .fa-location-dot, .fa-fire, .fa-earth-americas {
    font-size: 40px;
    color: gray;
}

.title {
    color: #b66019;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
}

.text {
    font-size: 17px;
    color: gray;
    font-family: "Calibri", sans-serif;
    padding: 0 10px;
}

.link {
    background: #56c3b6;
    width: 150px;
    height: 40px;
    color: #f8f1f1;
    font-family: "Calibri", serif;

    display: flex;
    justify-content: center;
    align-items: center;
}