body{
  margin: 0;
}
.container{
  width: 660px;
  height:300px ;

  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.card{
  width: 200px;
  height: 100%;
  border: 1px solid black;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;

  padding: 30px 15px 0 15px;

}
.title{
  font-size: 18px;
  font-weight: bold;
  font-family: "Calibri", sans-serif;

}
.text{
  color: #5a5757;
  font-family: "Calibri", sans-serif;
}
.link{
  height: 35px;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

}


