h1{
    background: olivedrab;
    color: yellow;
    text-align: center;
}
img{
    width: 200px;
}
p{
    background: #f1c6c6;
    color: #5a5757;
    text-align: justify;
}
h2{
    background: #bccece;
    color: #f8f1f1;
}