.container {
    width: 800px;
    height: 600px;

    font-size: 30px;
    margin: 0 auto;
}
.a{
    width: 100%;
    height:200px;
    background: silver;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.little_container{
    width: 100%;
    height: 400px;

    display: flex;
}
.mother {
    height: 400px;
    width: 600px;

    display: flex;
    flex-wrap: wrap;
}
.children{
    width: 33.33%;
    height: 200px;
    background: pink;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.h{
    height: 400px;
    width: 200px;
    background: #495252;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}