@media screen and (max-width: 1368px) {
    .container{
        width: 400px;
    }

  .a{
      height: 100px;
      background: lightgoldenrodyellow;
  }
    .little_container{
      flex-direction: column;
  }
    .mother{
        width: 100%;
        height: 200px;
    }
    .children{
        height: 100px;
        background: aquamarine;
    }
    .h{
        width: 100%;
        height: 200px;
        background: cornflowerblue;
    }
}